.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	min-width: 1000px;


	&__slogan {
		font: 18px/24px $font;
		font-weight: 500;
		color: #898f8f;
		padding-top: 110px;
		margin-bottom: 10px;


	}

	&__title {
		font: 60px/66px $roboto;
		color: $yellow;
		text-transform: uppercase;
		margin-bottom: 40px;

	}
	&__icon {
		@include size(16px);
		fill: $yellow;
		
	}


	&__underline {
		max-width: 450px;
		width: 100%;
		position: relative;
		text-align: center;	
	
			&::before {
			content: '';
			background: $yellow;
			width: 46.6%;
			height: 1px;
			position: absolute;
			top: 7px;
			left: 0;
			}

			&::after {
			content: '';
			background: $yellow;
			width: 46.6%;
			height: 1px;
			position: absolute;
			top: 7px;
			right: 0;
			}

	}
}